@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>
        @Html.ActionLink("Create New Customer", "Create", "Customer")
    </p>

    <p>
        @Html.ActionLink("Get Customers", "Index", "Customer")
    </p>
</div>
